:root {
    --primary-clr: #fff;
    --secondary-clr: #EDF7FA;
    --third-clr: #142850;

    --button-clr: #FF6464;

    --fc-primary: #21243D;
    --fc-secondary: #8695A4;

    --ff-primary: "Heebo", 'sans-serif';
}

